.tachado{
    text-decoration: line-through;
}

.text{
    padding-left: 10px;

}

.title{
    width: 100%;
    cursor: pointer;
    display:flex;
    justify-content: flex-start;
    align-items: center;

    h2{
        margin-right: 10px;
    }
}